{% extends 'base_todolist.html' %}

{% block meta %}
<!--bikin judul-->
<title>{{ user.username }}! | Todolist</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON("{% url 'todolist:show_todolist_json' %}", function (json) {
            // JSON result in `data` variable
            let cards = [];
            $.each(json, function (index, val) {
                let fields = val.fields;
                let div1 = document.createElement("div");
                div1.classList.add("card");
                div1.classList.add("mb-5");
                div1.classList.add("col-lg-5");
                let card_header = document.createElement("div");
                card_header.classList.add("card-header")
                if (fields.is_finished) {
                    card_header.innerHTML = "Done";
                } else {
                    card_header.innerHTML = "In Progress";
                }
                div1.appendChild(card_header);

                let card_body = document.createElement("div");
                card_body.classList.add("card-body");
                let card_title = document.createElement("h5");
                card_title.classList.add("card-title");
                card_title.innerHTML = fields.title
                card_body.appendChild(card_title);

                let card_description = document.createElement("p");
                card_description.classList.add("card-text");
                card_description.innerHTML = fields.description;
                card_body.appendChild(card_description)

                let button_group = document.createElement("div");
                button_group.classList.add("btn-group");
                button_group.classList.add("float-end");
                let buttons_code_block = '<form method="post" action="todolist/toggle-task/"' + fields.pk +
                    '<button class="btn btn-secondary btn-sm me-3" type="submit" name="toggle_done" id="toggle_button" >'
                // ' {% if task.is_finished %} Mark Not Done {% else %} Mark Done {% endif %}' +
                if (fields.is_finished) {
                    buttons_code_block += "Mark Not Done";
                } else {
                    buttons_code_block += "Mark Done";
                }
                buttons_code_block += '</button>' +
                    '</form>' +
                    '<form method="post" action="todolist/toggle-task/"' + fields.pk +
                    '<button class="btn btn-danger btn-sm" type="submit" name="delete">' +
                    'Delete' +
                    '</button>' +
                    '</form>'

                button_group.innerHTML = buttons_code_block;
                card_body.appendChild(button_group)
                div1.append(card_body);

                let toggle_button = button_group.firstChild.firstChild;
                if (fields.is_finished) {
                    toggle_button.innerHTML = "Mark Not Done";
                } else {
                    toggle_button.innerHTML = "Mark Done";
                }

                let card_footer = document.createElement("div");
                card_footer.classList.add("card-footer");
                card_footer.classList.add("text-muted");
                card_footer.innerHTML = fields.date;
                div1.append(card_footer);

                cards.push(div1.outerHTML);
            });

            var card_container = document.getElementById("card-container");
            card_container.innerHTML = cards.join("");
        });
    });
</script>
{% endblock meta %}

{% block navbar %}

<a class="btn btn-danger m-2" href="{% url 'todolist:logout' %}" role="button">Logout</a>

{% endblock navbar %}

{% block content %}
<h1 class="h1 p-2 m-2 fw-bold">Halo, {{user.username}}</h1>
<a class="btn btn-success m-2" href="{% url 'todolist:create_task' %}">Tambah Task</a>
<table>
    {% for task in tasks %}

    <div class="card p-1 m-4 shadow-lg">
        <div class="card-body">
            <div class="title-status">
                <p class="card-title">{{task.title}}</p>
                {% if task.is_finished %}
                <span class="badge rounded-pill bg-success align-top">Finished</span>
                {% else %}
                <span class="badge rounded-pill bg-danger align-top">Not Finished</span>
                {% endif %}
            </div>
            <p class="card-text">{{task.description}}</p>
            <p class="card-text"><small class="text-muted">Created on {{task.date}}</small></p>
        </div>
        <div class="row m-2">
            <a class="col btn btn-info m-2" href="{% url 'todolist:toggle_task' task.id %}" role="button">Change
                Status</a>
            <a class="col btn btn-danger m-2" href="{% url 'todolist:delete_task' task.id %}" role="button">Delete
                Task</a>
        </div>
    </div>
    {% endfor %}
</table>


{% endblock content %}