{% extends 'base_todolist.html' %}

{% block meta %}
<!--bikin judul-->
<title>{{ user.username }}! | Todolist</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        show_tasks();
    });

    function show_tasks() {
        $.get("./json", data => {
            data.forEach(element => {
                let data = element.fields
                console.log(element)
                let card_div = $('<div></div>')
                    .addClass('card p-1 m-4 shadow-lg')

                let card_title = $('<div class="title-status"></div>')
                    .append($('<p class="card-title"></p>')
                        .append(data.title))
                        .append($('<span></span>')
                            .addClass('badge rounded-pill align-top')
                            .addClass(data.is_finished ? 'bg-success' : 'bg-danger')
                            .text(data.is_finished ? 'Finished' : 'Not Finished'))

                let card_body = $('<div class="card-body"></div>')
                    .append(card_title)
                    .append($('<p class="card-text">' + data.description + '</p>'))
                    .append($('<p><small class="card-subtitle mb-2 text-muted">Created on: ' + data.date + '</small></p>'));

                let card_button = $('<div class="row m-2">')
                    .append($(`<a class="col btn btn-info m-2" href="/todolist/toggle-task/${element.pk}" >Change status</a>`))
                    .append($(`<a class="col btn btn-danger m-2" href="/todolist/delete-task/${element.pk}" >Delete task</a>`));

                $("#card-list").append(card_div.append(card_body).append(card_button));
            });
        });
    }
</script>
{% endblock meta %}

{% block navbar %}

<a class="btn btn-danger m-2" href="{% url 'todolist:logout' %}" role="button">Logout</a>

{% endblock navbar %}

{% block content %}
<h1 class="h1 p-2 m-2 fw-bold">Halo, {{user.username}}</h1>
<a class="btn btn-success m-2" href="{% url 'todolist:create_task' %}">Tambah Task</a>
<div id="card-list">

    {% comment %}
        <div class="card p-1 m-4 shadow-lg">
            <div class="card-body">
                <div class="title-status">
                    <p class="card-title">{{task.title}}</p>
                    {% if task.is_finished %}
                    <span class="badge rounded-pill bg-success align-top">Finished</span>
                    {% else %}
                    <span class="badge rounded-pill bg-danger align-top">Not Finished</span>
                    {% endif %}
                </div>
                <p class="card-text">{{task.description}}</p>
                <p class="card-text"><small class="text-muted">Created on {{task.date}}</small></p>
            </div>
            <div class="row m-2">
                <a class="col btn btn-info m-2" href="{% url 'todolist:toggle_task' task.id %}" role="button">Change
                    Status</a>
                <a class="col btn btn-danger m-2" href="{% url 'todolist:delete_task' task.id %}" role="button">Delete
                    Task</a>
            </div>
        </div>
    {% endcomment %}

</div>


{% endblock content %}