{% extends 'base_todolist.html' %}

{% block meta %}
<!--bikin judul-->
<title>{{ user.username }}! | Todolist</title>
{% endblock meta %}

{% block navbar %}
<ul class="navbar-nav ml-auto">
    <li class="navbar-text p-2 m-2 fw-bold"> Halo,{{user.username}}</li>
    <li><a class="btn btn-danger m-2" href="{% url 'todolist:logout' %}" role="button">Logout</a></li>
    <li><a class="btn btn-success m-2" href="{% url 'todolist:create_task' %}">Tambah Task</a></li>
</ul>
{% endblock navbar %}

{% block content %}

<table>
    {% for task in tasks %}
    <div class="card p-1 m-4 shadow-lg">
        <div class="card-body">
            <div class="title-status">
                <p class="card-title">{{task.title}}</p>
                    {% if task.is_finished %}
                    <span class="badge rounded-pill bg-success align-top">Finished</span>
                    {% else %}
                    <span class="badge rounded-pill bg-danger align-top">Not Finished</span>
                    {% endif %}
            </div>
            <p class="card-text">{{task.description}}</p>
            <p class="card-text"><small class="text-muted">Created on {{task.date}}</small></p>
        </div>
        <div class="row m-2">
            <a class="col btn btn-info m-2" href="{% url 'todolist:toggle_task' task.id %}" role="button">Change Status</a>
            <a class="col btn btn-danger m-2" href="{% url 'todolist:delete_task' task.id %}" role="button">Delete Task</a>
        </div>
    </div>
    {% endfor %}

    <a class="btn btn-success" href="{% url 'todolist:create_task' %}">Tambah Task</a>

</table>


{% endblock content %}