{% extends 'base.html' %}

 {% block content %}
  <h1>Tugas 3 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{NPM}}</p>

  <p>
    {% if distinction %}
    Selamat, kamu sudah banyak menonton!
    {% else %}
    Wah, kamu masih sedikit menonton!
    {% endif %}
  </p>
  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Release Date</th>
      <th>Rating</th>
      <th>Review</th>
    </tr>
    {% for item in list_barang %}
		<tr>
			<td>{% if item.watched %}Yes{% else %}No{% endif %}</td>
			<td>{{ item.title }}</td>
			<td>{{ item.release_date }}</td>
			<td>{{ item.rating }}</td>
			<td>{{ item.review }}</td>
		</tr>
	{% endfor %}
  </table>

 {% endblock content %}