{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Simple CSS : <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
    <title>Kausar Meutuwah|PBP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white mb-0" href="#">To Do List</a>
            {% block navbar %}
            {% endblock navbar %}
        </div>
    </nav>
    {% block meta %}
    {% endblock meta %}

</head>

<body>

{% block content %}
{% endblock content %}
</body>

</html>